/* left sidebar */

h2 {
    color: rgba(209, 122, 21, 0.94);
    font-size: 25;
}

.course {
    color: #43891e;
    font-size: 1.1em;
}

.name1 {
    color: #1978a0;
    font-size: 2em;
    font-style: italic;
}

#left {
    background-color: rgba(65, 162, 162, 0.37);
}

.pic {
    border-radius: 50%;
}

ul{
    list-style: none;
    padding-left: 1.5
       
}
/***** main content*****/

.email {
    color: rgba(63, 126, 83, 0.68);
    font-size: 1.1em;
}

.address {
    color: rgba(63, 126, 83, 0.68);
    font-size: 1em;
}

.name2 {
    color: #1978a0;
    font-size: 2.2em;
     font-style: italic;
}

#Objective {
    margin-top: 5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    text-align: justify;
}

#Education {
    margin-top: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    text-align: justify;
}

#Co-Curricular Activities {
    margin-top: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    text-align: justify;
}

#Seminars Attended {
    margin-top: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    text-align: justify;
}

#Research Papers Prepared {
    margin-top: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    text-align: left;
}

#Personal Background {
    margin-top: 1.5em;
    margin-left: 1em;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    text-align: justify;
}

#References {
    margin-top: 1.5em;
    margin-left: 1em;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    text-align: left;
}

#right {
    background-color: #f4e09d;
}


body {
    background-color: #DBD8AF;
}
